.footer-total{
    color: #484E4B;
    background-color: #484E4B;
    padding: 10px;
    align-items: center; 
    justify-content: center; 
    text-align: center; 

}
    
.footer-text{
    color: #FFFFFF;
    width: 90vw;
    display: flex;
    flex-direction: column;
    list-style: none;
    }

.footer-text li {
margin-bottom: 10px; 
   }    

.social-icons{
    display: flex;
	justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.copy-right{
	color: #FFFFFF;
    padding: 20px;
}