.searcher-space {
    padding-bottom: 6vh;
}
.search {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter {
    background-color: #F4F4F4;
    height: 6vh;
    border-radius: 12px;
}
.searcher {
    width: 62vw;
    height: 6vh;
    background-color: #F4F4F4;
    border-radius: 20px;
    border: none;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-shop {
    margin: 2rem 0rem 2rem 0rem;
    background-color: #FBFBFB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}